:root {
  --primary-color: #eac9c6;
  --secondary-color: ##ffffff;
  --text-color: #333;
  --font-family: "Noto Sans JP", sans-serif;
  --spacing: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-family: "Poppings", Sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  background-color: #f5e7de;
}

header {
  background-color: #d69f8f;
  text-align: center;
  padding: 32px 16px;
  display: flex;
  justify-content: right;
  align-items: center;
  /* border-bottom: 1px solid #f5e3e3; */
}

nav ul {
  list-style: none;
  display: flex;
  gap: var(--spacing);
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 12px;
  transition: background 0.3s ease;
  border-radius: 4px;
}

nav ul li a:hover {
  background: rgba(167, 81, 81, 0.2);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: var(--spacing);
  }

  nav ul {
    flex-direction: column;
    gap: 8px;
  }

  nav ul li a {
    display: block;
    padding: 10px;
  }
}

section {
  padding: var(--spacing);
  padding: 0 76px;
  /* margin: var(--spacing); */
  /* background: white; */
  /* border-radius: 8px; */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

#sobre {
  width: 100%;
  box-sizing: border-box;
  /* background: #fff8fd; */
  padding: 0 32px;
  padding-right: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#inicio {
  width: 100%;
  box-sizing: border-box;
  background-color: #fcf4ef;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

#inicio h2 {
  font-size: 6rem;
  margin-bottom: 10px;
  color: #a8734d;
}

#inicio h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #a8734d;
}

.inicio-button {
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 16px;
  border: none;
  background: #25d366;
  color: white;
  margin-bottom: 20px;
}

.inicio-button:hover {
  /* background: #128c7e; */
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.sobre-text {
  display: flex;
  flex-direction: column;
  font-family: "Poppings", Sans-serif;
  /* width: 40%; */
  margin-bottom: 80px;
}

.sobre-img-container {
  width: 55%;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2 {
  color: #a86f5b;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

#servicos ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 10px; /* Espaçamento entre os itens */
  list-style: none; /* Remove os marcadores da lista */
  padding: 0;
}

#servicos ul li {
  background-color: #fbfaf8;
  padding: 20px;
  border-radius: 16px;
  color: #383735;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: var(--spacing);
  background-color: #fff8f2;
  color: #cda398;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  z-index: 1000;
}

.whatsapp-button img {
  width: 35px;
  height: 35px;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#sessao {
  background-color: #ca9688;
  color: #fffdfc;
  padding: 16px 76px;
}

#sessao h2 {
  color: #fffdfc;
  font-size: 2rem;
  margin-bottom: 10px;
}
